$color-primary: #050A30;
$color-secondary: #d4d6e6;
$color-tertiary: #0000FF;
$color-white: #fdfdfd;
$color-black:  rgba(0, 0, 0, 0.899);
$color-green: rgb(135, 255, 55);

// //FONTS
// font-family: 'Roboto', sans-serif; THIN 100 ITALIC REGULAR 400 BLACK 900
// font-family: 'Roboto Mono', monospace;  THIN 100  REGULAR 400 BOLD 700 ITALIC
// font-family: 'Tilt Prism', cursive; REGULAR 400