$color-primary: #050A30;
$color-secondary: #9dc7cabd;
$color-tertiary: #0000FF;
$color-white: #fdfdfd;
$color-black:  #000000e5;
$color-green: #87ff37;

// //FONTS
// font-family: 'Roboto', sans-serif; THIN 100 ITALIC REGULAR 400 BLACK 900
// font-family: 'Roboto Mono', monospace;  THIN 100  REGULAR 400 BOLD 700 ITALIC
// font-family: 'Tilt Prism', cursive; REGULAR 400