
.copyright {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
 background-color: #f5f5f5;
 font-size: 120px;
 color: #333;

 .copyright-text {
    margin-right: 10px;
 }

 .copyright-link {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #007bff;
    }
 }
}