@import "../../colors.scss";

.share-web-app {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white; // Bijela boja teksta
  
    .share-icon {
      margin-left: 10px;
      cursor: pointer;
      transition: color 0.2s ease; // Glatka promjena boje
  
      &:hover {
        color: $color-green; // Zelena boja na hoveru
      }
    }
  }
  