@import "../../colors.scss";

.input-text-component {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  color: $color-white;
  width: 100%;
  height: 100vh;

.title{
  display: flex;
  flex-direction: column;
  margin-left: -250px;
  border: 3px solid $color-green;  
  height: 800px;
  width: 700px;
  border-radius: 0% 10% 10% 0%;
  text-align: left;
  transform: translateX(-100px);
  
  h3{
    font-family: Roboto Mono, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
    margin: 30px 50px;
    span {
  
      &:nth-child(1) {
        color: $color-green;        
      }
  
      &:nth-child(3) {
        color: $color-green;
      }
      &:nth-child(4) {
        color: $color-green;

      }
    }  
  }
  article{
    p{
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
      margin-left: 50px;
      text-align: left;
      font-family: Roboto Mono, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 20px;
    }
    ul{
      transform: translateX(100px);
      padding: 10px;

      li{
        padding: 10px;
        font-family: Roboto Mono, Helvetica, sans-serif;
        font-size: 16px;


      }
    }
  }
  
  }
  .input-text-area{
    display: flex;
    flex-direction: column;
    
   /* Stilizacija glavnog scrollbar-a */
textarea::-webkit-scrollbar {
  width: 10px; /* Širina scrollbar-a */
}

/* Stilizacija thumb-a scrollbar-a */
textarea::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Boja thumb-a */
  border-radius: 5px; /* Radijus thumb-a */
}

/* Ostali stilovi za textarea */
textarea {
  border: 3px solid $color-green;  
  border-radius: 20px ;
  width: 50%;
  height: 30vh;
  padding: 20px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: white;
  background-color: #1462bbd2;

  &::placeholder {
    color: white;
  }
}

    .encrypt-button {
      border: none;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 6px 2.5em;
      outline: none;
      color: white;
      font-size:16px; 
      position: relative;
      z-index: 1;
      cursor: pointer;
      background: none;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    
      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10em;
        transform: translateX(-50%) translateY(-50%);
        width: 105%;
        height: 105%;
        content: "";
        z-index: -2;
        background-size: 400% 400%;
        background: linear-gradient(
          60deg,
          #2916d8,
          #558cf3,
          #4eafef,
          #6667ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #ffffff
        );
      }
    
      &:before {
        filter: blur(7px);
        transition: all 0.25s ease;
        animation: pulse 10s infinite ease;
      }
    
      &:after {
        filter: blur(0.3px);
      }
    
      &:hover:before {
        width: 115%;
        height: 115%;
      }
    }
    
    @keyframes pulse {
      
      100% {
        filter: blur(7px);
      }
      50% {
        filter: blur(20px); 
    }
    
  }
  .result-container{
    display: flex;
    flex-direction: column;
    .result-crypto{
      padding: 10px;
      border: 3px solid black;
      border-radius: 20px;
      width: 100%;
      background-color: #1462bbd2;
    }
  }
}
  // Media query za mobilne uređaje (max širina ekrana 768px)
  @media screen and (max-width: 768px) {
    

    h2 {
      font-size: 20px;
    }

    .input-textarea {
      font-size: 14px;
    }

    .encrypt-button {
      padding: 8px 16px;
      font-size: 14px;
    }

    .result-crypto {
      font-size: 16px;
    }
  }
}
